@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "DankMono"; 
  src: url("../assets/fonts/DankMono.otf")
}

:root {
  --primary-theme: #C29863;
}

html {
  font-family: "DankMono",Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
